django==1.11.3
twilio
django-settings-export==1.2.1
openpyxl==2.4.7
numpy==1.12.1
MySQL-python==1.2.5
pylint==1.7.1
pylint_django==0.7.2
pyyaml==3.12
django-htmlmin==0.10.0
unicodecsv==0.14.1
selenium==3.4.3
decorator
sphinx
sphinxcontrib-napoleon
