/* */

* {
  font-family: 'Quicksand', sans-serif;
}

select {
    width: 110%;
    height: 35px;
    overflow: hidden;
    background: solid white;
    border: 1px solid goldenrod;
    font-size: medium;
}

.leftlabel, .rightlabel {
    display: inline-table;
    vertical-align: middle;
    width: 150px;
    padding: 2px;
    font-family: 'Quicksand',sans-serif;
}

.leftlabel {
    text-align: right;
}

.rightlabel {
    text-align: left;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 400px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#main-heading {
  text-decoration: underline;
  text-align: center;
}

#footnote {
  font-size: 0.7rem;
}

#privacy-notice {
  font-weight: 800;
}

/* Navigation button style */

.nav-button {
  display: table;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 1px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-button:hover {
  background-color: goldenrod;
}

.nav-button > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.nav-button > a:visited {
  color: black;
}

.nav-button:hover > a {
  color: white;
}

/* Content components */

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

hr {
  margin: 0.5rem 0;
  border: none;
  min-height: 1px;
  background-color: #e0e0e0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

table {
  margin: 0 auto;
}

.comment {
  width: 90%;
  height: 10rem;
}

body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
}

#languages {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

#languages > li {
  display: inline-block;
  margin-right: 1rem;
}

#languages > li > a {
  color: #a0a0a0;
  text-decoration: none;
}

#languages > li > a:hover {
  color: white;
}
