/* */

* {
  font-family: 'Quicksand', sans-serif;
}

.leftlabel, .rightlabel {
    display: inline-table;
    vertical-align: middle;
    width: 20%;
    padding: 2px;
}

.leftlabel {
    text-align: right;
}

.rightlabel {
    text-align: left;
}

input[type=number], input[type=text-field], select {
    width: 110%;
    height: 35px;
    overflow: hidden;
    background: solid white;
    border: 1px solid goldenrod;
    font-size: medium;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 0 auto;
    border: 1px solid white;
    width: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#main-heading {
  text-decoration: underline;
  text-align: center;
}

#footnote {
  font-size: 0.7rem;
}

#privacy-notice {
  font-weight: 800;
}

/* Navigation button style */

.nav-button {
  display: table;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 1px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-group {
  display: block;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 1px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: goldenrod;
  color: white;
}

.nav-button:hover {
  background-color: goldenrod;
  color: white;
}

.nav-button > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.nav-button > a:visited {
  color: black;
}

/* Content components */

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

hr {
  margin: 0.5rem 0;
  border: none;
  min-height: 1px;
  background-color: #e0e0e0;
}

.container, .container-center {
  max-width: 720px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.center {
  text-align: center;
}

table {
  margin: 0 auto;
}

.comment {
  width: 90%;
  height: 10rem;
  border: 1px solid goldenrod;
  resize: none;
  font-size: medium;
}

body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
}

#languages {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

#languages > li {
  display: inline-block;
  margin-right: 1rem;
}

#languages > li > a {
  color: #a0a0a0;
  text-decoration: none;
}

#languages > li > a:hover {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  padding: 3rem 1rem 1rem 1rem;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  margin: 0 auto;
  background-color: white;
  max-width: 960px;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

blockquote {
  color: rgb(140, 140, 140);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-left: 1px solid rgb(140, 140, 140);
}

input[type=range] {
  width: 20rem;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.scale-context {
  display: block;
  width: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.left-text {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0.5rem 0;
}

.right-text {
  display: inline-block;
  width: 50%;
  float: right;
  padding: 0.5rem 0;
  text-align: right;
}
