/** main.less
 */

@import 'typography';

@light-gray: rgb(192, 192, 192);

body {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  padding: 0.5rem 0;
  background: black;
  ul#languages {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-width: 80%;
    li {
      display: inline-block;
      margin-right: 1rem;
      a {
        color: @light-gray;
        &:hover {
          color: white;
        }
      }
    }
  }
  #status-indicator {
    float: right;
    padding: 0 0.2rem;
    border-radius: 0.1rem;
    margin: auto 0;
  }
}

ul.button-group {
  list-style: none;
  text-align: center;
  padding-left: 0;
  li {
    padding: 0 0.5rem;
    display: inline-block;
    margin: 0.trem;
  }
}

.nav-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  transition-duration: 0.5s;
  font-size: 1.3rem;
  a {
    color: black;
  }
  &:hover {
    a {
      color: white;
    }
    background-color: goldenrod;
  }
}

.ok {
  color: rgb(19, 184, 60);
}

.warning {
  color: rgb(222, 210, 57);
}

.error {
  color: rgb(226, 44, 44);
}

img {
  width: 100%;
}

#main-heading {
  text-align: center;
}

#footnote {
  font-size: 0.7rem;
}

hr {
  margin: 0.5rem 0;
  border: none;
  min-height: 1px;
  background-color: rgb(232, 232, 232);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
