{% extends 'admin/base_site.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Statistics' %}{% endblock %}

{% block extrastyle %}
  <style>
    .card-container {
      max-width: 1280px;
    }

    div.checkbox-container {
      margin: 0.25rem 0;
    }

    input[type="checkbox"] {
      margin: 0 0.5rem;
    }
  </style>
{% endblock %}

{% block extrahead %}
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" rel="stylesheet">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>{% trans 'Statistics' %}</h1>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
    {{ script|safe }}
  </div>
{% endblock %}
