{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Static assets -->
    <link rel="stylesheet" href="{% static 'css/quicksand-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <title>{% block title %}Malasakit{% endblock %}</title>
  </head>
  <body class='container'>
    <header>
      <h1 id="main-heading">{% block main-heading %}Malasakit{% endblock %}</h1>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <hr>
      <p id="footnote">
        {% block footnote %}
          {% blocktrans %}
            A project by the CITRIS Connected Communities Initiative at
            UC Berkeley and National University, Philippines through the
            Philippine-California Advanced Research Institutes Project.
          {% endblocktrans %}
        {% endblock footnote %}
      </div>
    </footer>
  </body>
</html>
