{% load i18n %}
{% load static %}
{% load localize_url %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block static-assets %}
      <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% url 'javascript-catalog' %}"></script>
      <script src="{% static 'js/client.js' %}"></script>
      <script src="{% static 'js/uuid4.js' %}"></script>
      {% if settings.SERVICE_WORKERS %}
        <script src="{% static 'js/sw-bootstrap.js' %}"></script>
      {% endif %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <title>Malasakit &bullet; {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% get_available_languages as languages %}
    {% if languages|length > 1 %}
      <nav>
        <div class="container">
          <ul id="languages">
            {% for code, name in languages %}
              <li>
                <a href="{{ request.path|localize_url:code }}">{{ name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    {% endif %}
    <header>
      <div class="container">
        <h1 id="main-heading">{% block main-heading %}Malasakit{% endblock %}</h1>
      </div>
    </header>
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer>
      <div class="container">
        <hr>
        <p id="footnote">
          {% block footnote %}
            {% blocktrans trimmed %}
              This site uses the Collective Assessment and Feedback Engine 
              (CAFÉ).
            {% endblocktrans %}
          {% endblock %}
        </p>
      </div>
    </footer>
  </body>
</html>
