{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Social media stuff -->
  <meta property="og:title" content="California Report Card"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/cafe/cafe6.png' %}" />
  <meta property="og:url" content="{{ url_root }}/" />
  <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." />
  <!-- <link rel="stylesheet" type= "text/css" href="{% static 'pcari/pretest_style.css' %}"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'opinionspace.css' %}">
  <script type='text/javascript' src="{% static 'accounts.js' %}"></script>
  <script type='text/javascript' src="{% static 'd3.v2.min.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>PCARI</title>
</head>
<body>
  <div class="full-page" id="moon">
  <center>
  <div class="home-btn-dialog-box landing-navigation">
        <div class="home-btn-title responsive-header">
        <a href="{% url 'pcari:landing' %}" style="cursor: pointer;cursor: hand;"><span class="landing-page-banner">Malasakit</span></a>
        </div>

        <div class="home-btn-wrapper" style="width:35%;display:inline-block;">
          <a href="{% url 'pcari:switch_language' %}" class="translate-btn">{{translate}}</a>
          <a href="{% url 'pcari:help' %}"><img width="30px" class='help-btn-dialog' id="help-landing" src="{% static 'img/cafe/CRC_help_bttn_compress.png' %}"></a>
        </div>

      </div>

      </br>
      <span> {{bloom_description}}</span>

<style>

text {
  font: 10px sans-serif;
  text-anchor: middle;
}


</style>

<script src="//d3js.org/d3.v4.0.0-alpha.28.min.js"></script>

<script>

{% if language %}
  var lang = "English";
{% else %}
  var lang = "Filipino";
{% endif %}

var circleData = {{ comment_data|safe }};

var margin = {top: 60, right: 80, bottom: 150, left: 80},
    width = $(window).width() - margin.right - margin.left,
    height = $(window).height() - margin.top - margin.bottom;


var y = d3.scalePoint()
    .domain(d3.range(15))
    .range([0, height]);

var z = d3.scaleLinear()
    .domain([10, 0])
    .range(["hsl(62,100%,90%)", "hsl(228,30%,20%)"])
    .interpolate(d3.interpolateHcl);

d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
  this.parentNode.appendChild(this);
  });
};

var svg = d3.select("#moon").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

/* ALTERNATIVE SPHERE PRESENTATION */
var circle = svg.selectAll("circle")
    .data(circleData);

/* TESTING TAG WITH CIRCLES */
// circle.enter().append("circle")
//     .attr("r", 48)
//     .attr("cx", width/2)
//     .attr("cy", height/2)
//     .style("fill", function(d) { return z(Math.abs(d.cid % 14 - 10)); })
//     .style("cursor","pointer")
//     .style("cursor","hand")
//     .on('mouseover', function(d) {
//       d3.select(this)
//       .moveToFront()
//       .classed("active", true)
//       .transition()
//       .attr("r", 64)
//       .style("stroke","#000")
//       .style("stroke-width","2px");})
//     .on('mouseout', function(d) {
//       d3.select(this)
//       .classed("active", false)
//       .transition()
//       .attr("r", 48)
//       .style("stroke","none")
//       .style("stroke-width","none"); })
//     .on("click", post)
//   .transition()
//     .duration(800)
//     .delay(function(d) { return d.cid * 40; })
//     .on("start",slide)
    // .on("start", function(d) { slide(d);} );

/* TAGGING */
// circle.enter().append("text")
//     .attr("x", width/2)
//     .attr("y", height/2)
//   .text(function(d){return "moony"})
//   .on("always", function(d) {moveToFront();})
//   .transition()
//     .duration(800)
//     .delay(function(d) { return d.cid * 40; })
//     .on("start", slide2);

/* TESTING TAG WITH SPHERES */
circle.enter().append("svg:image")
    .attr("xlink:href", function(d) {
      if (d.cid==0){
        if (lang == "English"){
          return "{% static 'img/cafe/cafe_ball_filipino_you.png' %}"
        }
        return "{% static 'img/cafe/cafe_ball_you.png' %}"
      } else {
        return "{% static 'img/cafe/cafe6.png' %}"
      };})
    .attr("width", function(d) {
      if (d.cid==0){
        return 180
      } else {
        return 120
      };})
    .attr("height", function(d) {
      if (d.cid==0){
        return 180
      } else {
        return 120
      };})
    // .attr("width", function(d) {return(100*[0.6,0.8,1,1.2,1.4][Math.floor(Math.random() * 5)])+"";})
    // .attr("height", function(d) {return(100*[0.6,0.8,1,1.2,1.4][Math.floor(Math.random() * 5)])+"";})
    .attr("x",function(d) {
      if (d.cid==0){
        return width/2.5-25;
      } else {
        return width/2.5;
      };})
    .attr("y",function(d) { 
      if (d.cid==0){
        return height/2.5-50;
      } else {
        return height/2.5;
      };})
    .style("cursor","pointer")
    .style("cursor","hand")
    .on("click", post)
    .on('mouseover', function(d) {
      if (d.cid==0){
        d3.select(this)
          .classed("active", true)
          .moveToFront()
          .transition()
          .attr("width", 230)
          .attr("height", 230);
      } else {
        d3.select(this)
          .classed("active", true)
          .moveToFront()
          .transition()
          .attr("width", 150)
          .attr("height", 150);
      };})
    .on('mouseout', function(d) {
      if (d.cid==0){
        d3.select(this)
          .classed("active", false)
          .transition()
          .attr("width", 180)
          .attr("height", 180);
      } else {
        d3.select(this)
          .classed("active", false)
          .transition()
          .attr("width", 120)
          .attr("height", 120);
      };})
    .transition()
      .duration(1000)
      .delay(function(d) { return d.n * 40; })
      .on("start", slide2);

function slide(d) {

  var w = width*d.x_seed
      h = height*d.y_seed
      s = d.shift;
 
  d3.active(this)
      .attr("cx", w+2*10*s)
      .attr("cy", h+2*10*s)
    .transition()
      .attr("cx", w-10*s)
      .attr("cy", h-10*s)
    .transition()
      .attr("cx", w+10*s)
      .attr("cy", h+10*s);
  // console.log(d3.active(this).attr("cx"));
  d3.select(this).classed("active", false);

}

function slide2(d) {
  if (d.cid == 0 ){
    d3.select(this)
      .moveToFront();
    return;
  }

  var w = width*d.x_seed-50
      h = height*d.y_seed-50
      s = d.shift;



  d3.active(this)
      .attr("x", w+2*10*s)
      .attr("y", h+2*10*s)
    .transition()
      .attr("x", w-10*s)
      .attr("y", h-10*s)
    .transition()
      .attr("x", w+10*s)
      .attr("y", h+10*s);
  d3.select(this).classed("active", false);
  // console.log("x,y"+(w+10*s)+" "+(h+10*s)+" s is " + s+" and did is " +d.cid);
  console.log(d);
}

function post(d) {
    method = "get"; // Set method to post by default if not specified.
    var csrftoken = getCookie('csrftoken');

    // console.log(d);

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.

    var form = document.createElement("form");
    form.setAttribute("method", method);
    if (d.cid == 0){
      form.setAttribute("action", "{% url 'pcari:comment' %}");  
    } else {
      var url = "{% url 'pcari:get_comment' 999 %}".replace (999, d.cid);
      form.setAttribute("action", url);  
    }
    

    // for(var key in params) {
    //     if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "TEXT");
            hiddenField.setAttribute("name", "cid");
            hiddenField.setAttribute("value", d.cid);

            form.appendChild(hiddenField);
    //      }
    // }

    document.body.appendChild(form);
    form.submit();
}
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


</script>
</center>

 </div>


</body>
</html>