

{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Social media stuff -->
  <meta property="og:title" content="California Report Card"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/cafe/cafe6.png' %}" />
  <meta property="og:url" content="{{ url_root }}/" />
  <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." />
  <!-- <link rel="stylesheet" type= "text/css" href="{% static 'pcari/pretest_style.css' %}"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'opinionspace.css' %}">
  <script type='text/javascript' src="{% static 'accounts.js' %}"></script>
  <script type='text/javascript' src="{% static 'd3.v2.min.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>PCARI</title>
</head>
<body>
 <div class="full-page">

  <div class='landing'>
    <center>
      <div class='new-comment'>
        <center>
          <div class="home-btn-dialog-box">
            <div class="home-btn-title responsive-header">
              <a href="{% url 'pcari:landing' %}" style="cursor: pointer;cursor: hand;"><span class="landing-page-banner">Malasakit</span></a> 
            </div>
            <div class="home-btn-wrapper" style="width:35%;display:inline-block;">
              <a href="{% url 'pcari:switch_language' %}" class="translate-btn">{{translate}}</a>
              <a href="{% url 'pcari:help' %}"><img width="30px" class='help-btn-dialog' id="help-landing" src="{% static 'img/cafe/CRC_help_bttn_compress.png' %}"></a>
            </div>

          </div> 
          <br><br>
          <center>
            <div class='new-panel'>
             <div class="landing-img-txt responsive-body">  

              <span class="english">{{comment_description}}</span>

            </div>
            <br><br>

            <div>
              <form action="{% url 'pcari:logout'%}" method="POST">
                {% csrf_token %}

                <textarea class="commentarea" name='comment' maxlength="500" style="max-width:620px; width:100%; height: 100px;"></textarea>
                <br><br><br>
                <input class='button-div-wide' style="margin-top: 10px;" type="submit" value="{{post}}" />
              </form>
            </div>

          </div>
        </center>
      </center>
    </div>


  </center>



</div>


</body>
</html>
