{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Thank You' %}{% endblock %}
{% block main-heading %}{% trans 'Thank You' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      invalidateCurrentResponseKey();
      pushCompletedResponses();
    });
  </script>
{% endblock %}

{% block content %}
  <p class="center">
    {% trans 'We appreciate your participation in the Malasakit program.' %}
  </p>
  {% url 'pcari:landing' as next_link %}
  {% include 'nav-buttons.html' with next_label='Finish' %}
{% endblock %}
