{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Thank You' %}{% endblock %}
{% block main-heading %}{% trans 'Thank You' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      var current = Resource.load('current');
      current.data = null;
      current.put();
      Resource.delete('selected-comments');
    });
  </script>
{% endblock %}

{% block content %}
  <p class="center">
    {% trans 'We appreciate your participation in the Malasakit program.' %}
  </p>
  {% url 'pcari:landing' as next_link %}
  {% include 'nav-buttons.html' with next_label=_('Finish') %}
{% endblock %}
