{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Social media stuff -->
  <meta property="og:title" content="California Report Card"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/cafe/cafe6.png' %}" />
  <meta property="og:url" content="{{ url_root }}/" />
  <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." />
  <!-- <link rel="stylesheet" type= "text/css" href="{% static 'pcari/pretest_style.css' %}"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'opinionspace.css' %}">
  <script type='text/javascript' src="{% static 'accounts.js' %}"></script>
  <script type='text/javascript' src="{% static 'd3.v2.min.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>PCARI</title>
</head>

<script>
function goBack() {
    window.history.back();
}
</script>

<body>
 <div class="full-page">
  <center>
    <div class="home-btn-dialog-box landing-navigation">
        <div class="home-btn-title responsive-header">
          <a href="{% url 'pcari:landing' %}" style="cursor: pointer;cursor: hand;"><span class="landing-page-banner">Malasakit</span></a> 
        </div>

        <div class="home-btn-wrapper" style="width:35%;display:inline-block;">
          <a href="{% url 'pcari:switch_language' %}" class="translate-btn">{{translate}}</a>
          <img onclick="goBack()" width="30px" class='help-btn-dialog' id="help-landing" src="{% static 'img/cafe/CRC_back_bttn.png' %}">
        </div>
      </div>

      <div style="max-width: 620px; width: 100%; border: 2px solid white;margin-top: 10px;">

      <a href="{% url 'pcari:about' %}" style="text-decoration: none;">
        <div class="burger-div burger-div-about">
          {{about}}
        </div>
      </a>

      {% if logged_in %}
      <a href="{% url 'pcari:bloom' %}" style="text-decoration: none;">
        <div class="burger-div burger-div-others">
          {{rate_more}}
        </div>
      </a>
      <a href="{% url 'pcari:comment' %}" style="text-decoration: none;">
        <div class="burger-div burger-div-yours">
          {{suggest_own}}
        </div>
      </a>
     {% endif %}

      <a href="{% url 'pcari:logout' %}" style="text-decoration: none;">
        <div class="burger-div burger-div-logout">
          {{exit}}
        </div>
      </a>
    </div>
  </div>
</center>
</div>
</body>
</html>
