{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome' %}{% endblock %}

{% block content %}
  <p>
    {% blocktrans trimmed %}
      How prepared are you in times of disaster?
      {{ num_responses }} barangay citizens have responded.
      Join them!
    {% endblocktrans %}
  </p>
  <img src="{% static 'img/landing1.jpg' %}">
  <div class="nav-button">
    <a href="{% url 'pcari:personal-information' %}">{% trans 'Begin' %}</a>
  </div>
{% endblock %}
