{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome' %}{% endblock %}

{% block scripts %}
  <script>
    <!-- FIXME -->
  </script>
{% endblock %}

{% block content %}
  <p class="center">
    {% blocktrans trimmed %}
      How prepared are you in times of disaster?
      {{ num_responses }} barangay citizens have responded.
      Join them!
    {% endblocktrans %}
  </p>
  <img src="{% static 'img/landing1.jpg' %}">
  {% url 'pcari:quantitative-questions' as next_link %}
  {% include 'nav-buttons.html' with next_label='Begin' %}
{% endblock %}
