{% load i18n %}

<ul class="button-group">
  {% if previous_link %}
    <li>
      <div id="previous" class="nav-button">
        <a href="{{ previous_link }}">{% trans previous_label|default:_('Back') %}</a>
      </div>
    </li>
  {% endif %}
  {% if next_link %}
    <li>
      <div id="next" class="nav-button">
        <a href="{{ next_link }}">{% trans next_label|default:_('Submit') %}</a>
      </div>
    </li>
    <li>
      <div id="skip" class="nav-button">
        <a href="{{ next_link }}">{% trans skip_label|default:_('Skip') %}</a>
      </div>
    </li>
  {% endif %}
</ul>
