{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Static assets -->
    <link rel="stylesheet" href="{% static 'css/quicksand-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <title>Malasakit</title>
  </head>
  <body>
    <div class="questions">
      <!-- Header -->
      <center><p class="header"><u>{% block header %}{% endblock %}</u></p></center>
      <p class="subtitle">{% block subtitle %}{% endblock %}</p>

      <!-- Content -->
      {% block content %}{% endblock %}

      <!-- Button -->
      <br/>
      <center><a href={% block link %}{% endblock %}><button class="button">{% block button %}{% endblock %}</button></a></center>
      <br/>

      <!-- Footnote -->
      <center><p class="footnote">{% block footnote %}{% endblock %}</p><center>
    </div>
  </body>
</html>
