{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Peer Responses' %}{% endblock %}
{% block main-heading %}{% trans 'Peer Responses' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      displayNoCurrentRespondentError();

      var current = Resource.load('current');
      pushResponse(Resource.load(current.data), false);

      var ratings = getResponseValue(['question-ratings']);
      for (var id in ratings) {
        var score = ratings[id];
        if (score !== SKIPPED) {
          $('#answer-' + id).text(score);
        } else {
          $('#answer-' + id).text(gettext('Skipped'));
        }
      }
    });
  </script>
{% endblock %}

{% block content %}
  {% if questions %}
    <p>
      {% blocktrans trimmed %}
        Below, you can see how the other respondents answered the survey questions.
      {% endblocktrans %}
    </p>
    <div id="peer-responses">
      {% for question in questions %}
        {% with num_ratings=question.num_ratings mean=question.mean_score|floatformat %}
          <div class="boxed">
            <p>
              {% blocktrans trimmed %}
                <strong>{{ num_ratings }}</strong> other people answered this question:
              {% endblocktrans %}
            </p>
            <blockquote>
              {% trans question.prompt %}
            </blockquote>
            <div class="bubbled">
              {% blocktrans trimmed %}
                Average answer: <strong>{{ mean }}</strong>
              {% endblocktrans %}
              {% if question.mean_score <= 2 %}
                ({% trans 'Strongly disagreed' %})
              {% elif question.mean_score <= 3 %}
                ({% trans 'Somewhat disagreed' %})
              {% elif question.mean_score <= 4 %}
                ({% trans 'Somewhat agreed' %})
              {% elif question.mean_score <= 5 %}
                ({% trans 'Strongly agreed' %})
              {% else %}
              {% endif %}
            </div>
            <div class="bubbled">
              {% with id=question.id %}
                {% trans 'Your answer:'%} <strong id="answer-{{ id }}">{% trans 'Not rated' %}</strong>
              {% endwith %}
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  {% else %}
    <p class="error banner">{% trans 'There are not enough data to show how your responses compare to those of others.' %}</p>
  {% endif %}
  {% url 'pcari:qualitative-questions' as previous_link %}
  {% url 'pcari:end' as next_link %}
  {% include 'nav-buttons.html' with next_label=_('Next') %}
{% endblock %}
