{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Responses by Other Users' %}{% endblock %}
{% block main-heading %}{% trans 'Responses by Other Users' %}{% endblock %}

{% block content %}
  <ul class="button-group">
    <li>
      <div class="nav-button">
        <a href="{% url 'pcari:quantitative-questions' %}">{% trans 'Previous' %}</a>
      </div>
    </li>
    <li>
      <div class="nav-button">
        <a href="{% url 'pcari:rate-comments' %}">{% trans 'Next' %}</a>
      </div>
    </li>
  </ul>
{% endblock %}
