{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Social media stuff -->
  <meta property="og:title" content="California Report Card"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/cafe/cafe6.png' %}" />
  <meta property="og:url" content="{{ url_root }}/" />
  <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." />
  <!-- <link rel="stylesheet" type= "text/css" href="{% static 'pcari/pretest_style.css' %}"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'opinionspace.css' %}">
  <script type='text/javascript' src="{% static 'accounts.js' %}"></script>
  <script type='text/javascript' src="{% static 'd3.v2.min.js' %}"></script>
  <link rel='stylesheet' type='text/css' src="{% static 'jquery.mobile-1.3.2.css'%}"></script>
  <link rel='stylesheet' type='text/css' src="{% static 'jquery.mobile-1.3.2.min.css'%}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>PCARI</title>
</head>
<body>
 <div class="full-page">

  <div class='landing'>
    <center>
      <div class="home-btn-dialog-box landing-navigation">
        <div class="home-btn-title responsive-header">
          <a href="{% url 'pcari:landing' %}" style="cursor: pointer;cursor: hand;"><span class="landing-page-banner">Malasakit</span></a> 
        </div>

        <div class="home-btn-wrapper" style="width:35%;display:inline-block;">
          <a href="{% url 'pcari:switch_language' %}" class="translate-btn">{{translate}}</a>
          <a href="{% url 'pcari:help' %}"><a href="{% url 'pcari:help' %}"><img width="30px" class='help-btn-dialog' id="help-landing" src="{% static 'img/cafe/CRC_help_bttn_compress.png' %}"></a></a>
        </div>

      </div>
        <br/>

        <div class="landing-img-txt responsive-body">  

          <span>{{personal}}</span>

          <!-- <span class="spanish">Únete a los <strong>{{num_users}}</strong> otros para amplificar la inteligencia colectiva de California</span> -->
        </div>
        </br>
        <div class="landing-img-txt" style="color: #b94a48; background-color: #f2dede; border-color: #eed3d7;"> {{error}}</div>
        </br></br>

        <div style="width: 100%;">
          <form action="{% url 'pcari:review' %}" method="POST">
            {% csrf_token %}
            <div style="width: 50%; padding-bottom:10%;">
              <div style="float:left; margin-left:15%; font-size:20px;"><span>{{age}}</span></div>
              <textarea style="float:right; margin-right:15%;" name='age' maxlength="10"></textarea>
            </div>
            </br></br>
            <div style="width: 50%; padding-bottom:10%;">
              <div style="float:left; margin-left:15%; font-size:20px;"><span>Barangay</span></div>
              <textarea style="float:right; margin-right:15%;" name='barangay' maxlength="50"></textarea>
            </div>
            </br></br>
            <div style="width: 50%; padding-bottom:10%">
              <div style="float:left; margin-left:15%; font-size:20px;"><span>{{gender}}</span></div>
              <select name="gender" style="border-radius:1em;font-size:20px;height:52px;width:222px;float:right;margin-right:15%;">
                <option value="">{{select}} {{gender}}</option>
                <option value="M">{{male}}</option>
                <option value="F">{{female}}</option>
              </select>
              <!-- <textarea name='gender' maxlength="6"></textarea> -->
            </div>
            </br></br>
            
            <div>
            <input  class='button-div-wide' style="margin-top: 5px; float:center;" name="choice" type="submit" value="{{next}}" />
            </div>
          </form>
        </div>

      </center>


    </div>


  </body>
  </html>
