{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Share your perspective' %}{% endblock %}
{% block main-heading %}{% trans 'Share your perspective:' %}{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      displayNoCurrentRespondentError();

      $('input[type=text], textarea').each(function() {
        var inputElement = $(this);
        var questionID = inputElement.attr('question-id');
        var path = ['comments', questionID];

        inputElement.on('input', function() {
          var text = inputElement.val().trim();
          setResponseValue(path, text);
        });

        var comment = getResponseValue(path);
        if (comment !== undefined) {
          inputElement.val(comment);
        }
      });

      $('#skip').on('click', function() {
        setResponseValue(['comments'], {});
      });
    });
  </script>
{% endblock %}

{% block content %}
  {% if questions %}
    {% if questions|length > 1 %}
      <ol id="qualitative-questions">
        {% for question in questions %}
          <li>
            <p class="prompt">{% trans question.prompt %}</p>
            <textarea question-id="{{ question.id }}" class="comment"></textarea>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      {% with question=questions.0 %}
        <p class="prompt">{% trans question.prompt %}</p>
        <textarea question-id="{{ question.id }}" class="comment"></textarea>
      {% endwith %}
      </p>
    {% endif %}
  {% else %}
    <p class="error banner">{% trans 'There are no qualitative questions at this time.' %}</p>
  {% endif %}
  {% url 'pcari:rate-comments' as previous_link %}
  {% url 'pcari:peer-responses' as next_link %}
  {% include 'nav-buttons.html' %}
{% endblock %}
