{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Qualitative Questions' %}{% endblock %}
{% block main-heading %}{% trans 'Qualitative Questions' %}{% endblock %}

{% block scripts %}
  <script>
    const COMMENT_ID_PREFIX = 'comment-';

    $(document).ready(function() {
      $('input[type=text], textarea').each(function() {
        if (this.id.startsWith(COMMENT_ID_PREFIX)) {
          var commentID = this.id.substring(COMMENT_ID_PREFIX.length);
          var path = ['comments', commentID];
          bindValueStoreListener($(this), path);
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <ol id="qualitative-questions">
    {% for question in questions %}
      <li>
        <p class="prompt">{{ question.prompt }}</p>
        <div class="container">
          <textarea question-id="{{ question.id }}" class="comment"></textarea>
        </div>
      </li>
    {% endfor %}
  </ol>
  {% url 'pcari:rate-comments' as previous_link %}
  {% url 'pcari:personal-information' as next_link %}
  {% include 'nav-buttons.html' %}
{% endblock %}
