{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Quantitative Questions' %}{% endblock %}
{% block main-heading %}{% trans 'Quantitative Questions' %}{% endblock %}

{% block scripts %}
  <script>
    const RATING_ID_PREFIX = 'rating-';

    $(document).ready(function() {
      $('input[type=range], input[type=number]').each(function() {
        if (this.id.startsWith(RATING_ID_PREFIX)) {
          var questionID = this.id.substring(RATING_ID_PREFIX.length);
          var path = ['question-ratings', questionID];
          if (getResponseValue(path) === null) {
            setResponseValue(path, [parseInt($(this).val())]);
          }
          bindHistoryStoreListener($(this), path, parseInt);
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <ol>
    {% for question in questions %}
      <li>
        {% include 'rating-slider.html' with question=question %}
      </li>
    {% endfor %}
  </ol>
  <div class="nav-button">
    <a href="{% url 'pcari:response-histograms' %}?lang={{ language_code }}">{% trans 'Next' %}</a>
  </div>
{% endblock %}
