{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Quantitative Questions' %}{% endblock %}
{% block main-heading %}{% trans 'Quantitative Questions' %}{% endblock %}

{% block scripts %}
  <script>
    const RATING_ID_PREFIX = 'rating-';

    $(document).ready(function() {
      $('input[type=range], input[type=number]').each(function() {
        if (this.id.startsWith(RATING_ID_PREFIX)) {
          var questionID = this.id.substring(RATING_ID_PREFIX.length);
          var path = ['question-ratings', questionID];
          if (getResponseValue(path) === null) {
            setResponseValue(path, [parseInt($(this).val())]);
          }
          bindHistoryStoreListener($(this), path, parseInt);
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <ol id="quantitative-questions">
    {% for question in questions %}
      <li>
        <p class="prompt">{% trans question.prompt %}</p>
        {% with id=question.id min_score=question.min_score max_score=question.max_score %}
          {% with left_text=question.left_text right_text=question.right_text %}
            {% include 'rating-slider.html' %}
          {% endwith %}
        {% endwith %}
        <ul class="button-group">
          <button class="skip">Skip Question</button>
        </ul>
      </li>
    {% endfor %}
  </ol>
  {% url 'pcari:peer-responses' as next_link %}
  {% include 'nav-buttons.html' %}
{% endblock %}
