{% extends 'parent.html' %}

{% load i18n %}
{% load static %}

{% block header %}{% blocktrans %}QUESTIONS{% endblocktrans %}{% endblock %}

{% block content %}
<!-- Questions -->
<div>
    {% for question in questions %}
    <p class="q"><b>{{ question.0 }}</b></p>
    <span class="leftlabel">{{ question.1 }}</span>
    <input type="range" value="0" min=1 max=10 />
    <span class="rightlabel">{{ question.2 }}</span>
    {% endfor %}
</div>
<!-- Info -->
<center>
    <p class="header"><u>{% blocktrans %}PROFILE{% endblocktrans %}</u></p>
    <br/>
    <table>
        <tr>
            <td class="q"><b>{% blocktrans %}Age{% endblocktrans %}:</b></td>
            <td>
                <select class="styled-select">
                    <option value="">{% blocktrans %}Select Age{% endblocktrans %}</option>
                    <option value="0-19">0-19</option>
                    <option value="20-29">20-29</option>
                    <option value="30-39">30-39</option>
                    <option value="40-49">40-49</option>
                    <option value="50-59">50-59</option>
                    <option value="60-69">60-69</option>
                    <option value="70-79">70-79</option>
                    <option value="80-89">80-89</option>
                    <option value="90+">90+</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="q"><b>{% blocktrans %}Gender{% endblocktrans %}:</b></td>
            <td>
                <select class="styled-select">
                    <option value="">{% blocktrans %}Select Gender{% endblocktrans %}</option>
                    <option value="M">{% blocktrans %}Male{% endblocktrans %}</option>
                    <option value="F">{% blocktrans %}Female{% endblocktrans %}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="q"><b>{% blocktrans %}Province{% endblocktrans %}:</b></td>
            <td>
                <select class="styled-select">
                    <option value="">{% blocktrans %}Select Province{% endblocktrans %}</option>
                    <option value="ABR">Abra</option>
                    <option value="AGN">Agusan del Norte</option>
                    <option value="AGS">Agusan del Sur</option>
                    <option value="AKL">Aklan</option>
                    <option value="ALB">Albay</option>
                    <option value="ANT">Antique</option>
                    <option value="APA">Apayao</option>
                    <option value="AUR">Aurora</option>
                    <option value="BAS">Basilan</option>
                    <option value="BAN">Bataan</option>
                    <option value="BTN">Batanes</option>
                    <option value="BTG">Batangas</option>
                    <option value="BEN">Benguet</option>
                    <option value="BIL">Biliran</option>
                    <option value="BOH">Bohol</option>
                    <option value="BUK">Bukidnon</option>
                    <option value="BUL">Bulacan</option>
                    <option value="CAG">Cagayan</option>
                    <option value="CAN">Camarines Norte</option>
                    <option value="CAS">Camarines Sur</option>
                    <option value="CAM">Camiguin</option>
                    <option value="CAP">Capiz</option>
                    <option value="CAT">Catanduanes</option>
                    <option value="CAV">Cavite</option>
                    <option value="CEB">Cebu</option>
                    <option value="COM">Compostela Valley</option>
                    <option value="NCO">Cotabato</option>
                    <option value="DAV">Davao del Norte</option>
                    <option value="DAS">Davao del Sur</option>
                    <option value="DVO">Davao Occidental</option>
                    <option value="DAO">Davao Oriental</option>
                    <option value="DIN">Dinagat Islands</option>
                    <option value="EAS">Eastern Samar</option>
                    <option value="GUI">Guimaras</option>
                    <option value="IFU">Ifugao</option>
                    <option value="ILN">Ilocos Norte</option>
                    <option value="ILS">Ilocos Sur</option>
                    <option value="ILI">Iloilo</option>
                    <option value="ISA">Isabela</option>
                    <option value="KAL">Kalinga</option>
                    <option value="LUN">La Union</option>
                    <option value="LAG">Laguna</option>
                    <option value="LAN">Lanao del Norte</option>
                    <option value="LAS">Lanao del Sur</option>
                    <option value="LEY">Leyte</option>
                    <option value="MAG">Maguindanao</option>
                    <option value="MAD">Marinduque</option>
                    <option value="MAS">Masbate</option>
                    <option value="00">Metro Manila</option>
                    <option value="MSC">Misamis Occidental</option>
                    <option value="MSR">Misamis Oriental</option>
                    <option value="MOU">Mountain Provience</option>
                    <option value="NEC">Negros Occidental</option>
                    <option value="NER">Negros Oriental</option>
                    <option value="NSA">Northern Samar</option>
                    <option value="NUE">Nueva Ecija</option>
                    <option value="NUV">Nueva Vizcaya</option>
                    <option value="MDC">Occidental Mindoro</option>
                    <option value="MDR">Oriental Mindoro</option>
                    <option value="PLW">Palawan</option>
                    <option value="PAM">Pampanga</option>
                    <option value="PAN">Pangasinan</option>
                    <option value="QUE">Quezon</option>
                    <option value="QUI">Quirino</option>
                    <option value="RIZ">Rizal</option>
                    <option value="ROM">Romblon</option>
                    <option value="WSA">Samar</option>
                    <option value="SAR">Sarangani</option>
                    <option value="SIG">Siquijor</option>
                    <option value="SOR">Sorsogon</option>
                    <option value="SCO">South Cotabato</option>
                    <option value="SLE">Southern Leyte</option>
                    <option value="SUK">Sultan Kudarat</option>
                    <option value="SLU">Sulu</option>
                    <option value="SUN">Surigao del Norte</option>
                    <option value="SUR">Surigao del Sur</option>
                    <option value="TAR">Tarlac</option>
                    <option value="TAW">Tawi-Tawi</option>
                    <option value="ZMB">Zambales</option>
                    <option value="ZAN">Zamboanga del Norte</option>
                    <option value="ZAS">Zamboanga del Sur</option>
                    <option value="ZSI">Zamboanga Sibugay</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="q"><b>Barangay:</b></td>
            <td><input type="text" name="barangay" class="q" style="border: 1px solid goldenrod; width: 240" /></td>
        </tr>
    </table>
</center>
{% endblock %}

{% block link %}"{% url 'pcari:rate_suggestions'%}"{% endblock %}

{% block button %}{% blocktrans %}SUBMIT{% endblocktrans %}{% endblock %}
