{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Quantitative Questions' %}{% endblock %}
{% block main-heading %}{% trans 'Quantitative Questions' %}{% endblock %}

{% block scripts %}
  <script>
    const SKIPPED = -1, NOT_SCORED = -2;

    $(document).ready(function() {
      displayNoCurrentRespondentError();

      $('input.quantitative-input').each(function() {
        var inputElement = $(this);
        var questionID = inputElement.attr('target-id');
        var path = ['question-ratings', questionID];

        function getValue() {
          var value = parseInt(inputElement.val());
          return isNaN(value) ? NOT_SCORED : value;
        }

        if (getResponseValue(path) === null) {
          setResponseValue(path, [getValue()]);
        } else {
          var history = getResponseValue(path);
          var lastScore = history[history.length - 1];
          inputElement.val(lastScore === -2 ? '' : lastScore.toString());
        }

        inputElement.on('change', function() {
          var history = getResponseValue(path);
          history.push(getValue());
          console.log('Quantitative question', questionID, 'history:', history);
          setResponseValue(path, history);
        });
      });

      $('input.skip').each(function() {
        var toggleButton = $(this);
        var questionID = toggleButton.attr('target-id');
        var path = ['question-ratings', questionID];

        function setStatus(disabled) {
          var questionInput = 'input.quantitative-input[target-id='
                              + questionID + ']';
          toggleButton.prop('checked', disabled);
          $(questionInput).prop('disabled', disabled);
        }

        toggleButton.on('change', function() {
          var disabled = toggleButton.prop('checked');
          setStatus(disabled);

          var history = getResponseValue(path);
          if (disabled) {
            history.push(SKIPPED);
            setResponseValue(path, history);
          } else {
            history.push(history[history.length - 2]);  // second to last
            setResponseValue(path, history);
          }
        });

        var history = getResponseValue(path);
        setStatus(history[history.length - 1] === SKIPPED);
      });
    });
  </script>
{% endblock %}

{% block content %}
  <p class="instructions">
    {% blocktrans trimmed %}
      The question below either asks you to move a slider knob or enter a number.
    {% endblocktrans %}
  </p>
  <hr>
  <ol id="quantitative-questions">
    <p class="prompt">{% trans question.prompt %}</p>
    {% with type=question.input_type id=question.id %}
      {% include 'questions/questions.html' %}
    {% endwith %}
    <ul class="button-group">
      <li>
        <button id="skip" class="red">{% trans 'Skip' %}</button>
      </li>
      <li>
        <button id="submit" class="blue">{% trans 'Submit' %}</button>
      </li>
    </ul>
  </ol>
  {% include 'nav-buttons.html' %}
{% endblock %}
