{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Rate Comments by Other Users' %}{% endblock %}
{% block main-heading %}{% trans 'Rate Comments by Other Users' %}{% endblock %}

{% block static-assets %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
  <script>
    const SELECTED_COMMENTS_KEY = 'selected-comments';
    const NUM_COMMENTS_TO_SELECT = 8;

    function drawComment(comments) {
      var cumulativeErrors = [0], commentIDs = [null];
      for (var id in comments) {
        var comment = comments[id];
        var indexOfLast = cumulativeErrors.length - 1;
        cumulativeErrors.push(cumulativeErrors[indexOfLast] + comment['sem']);
        commentIDs.push(id);
      }

      var totalError = cumulativeErrors[cumulativeErrors.length - 1];
      var selectedPoint = totalError * Math.random();

      for (var index = 1; index < cumulativeErrors.length; index++) {
        if (cumulativeErrors[index - 1] <= selectedPoint
            && selectedPoint < cumulativeErrors[index]) {
          return commentIDs[index];
        }
      }
    }

    function selectComments() {
      if (!(SELECTED_COMMENTS_KEY in localStorage)) {
        if (!(COMMENTS_KEY in localStorage)) {
          console.log('=> No comments found');
          return;
        }

        var comments = JSON.parse(localStorage.getItem(COMMENTS_KEY));
        var selectedComments = {};
        for (var index = 0; index < NUM_COMMENTS_TO_SELECT; index++) {
          var commentID = drawComment(comments);
          selectedComments[commentID] = comments[commentID]['msg'];
          delete comments[commentID];
        }

        localStorage.setItem(SELECTED_COMMENTS_KEY, JSON.stringify(selectedComments));
      }
    }

    function renderComments() {
      //
    }

    $(document).ready(function() {
      selectComments();
      renderComments();
    });
  </script>
{% endblock %}

{% block content %}
  <p>
    {% blocktrans trimmed %}
      These are some suggestions made by other people living in barangays
      across the Phillippines.
      Read each one, and rate how helpful it is.
    {% endblocktrans %}
  </p>

  <!-- TODO: refactor with dynamic client-side comment selection -->

  <!-- S1 -->
  <p class="q"><b>1. Suggestion 1</b></p>
  <span class="leftlabel">Very unhelpful.</span>
  <input type="range" value="0" min=1 max=10 />
  <span class="rightlabel">Very helpful.</span>

  <!-- S2 -->
  <p class="q"><b>2. Suggestion 2</b></p>
  <span class="leftlabel">Very unhelpful.</span>
  <input type="range" value="0" min=1 max=10 />
  <span class="rightlabel">Very helpful.</span>

  <!-- S3 -->
  <p class="q"><b>3. Suggestion 3</b></p>
  <span class="leftlabel">Very unhelpful.</span>
  <input type="range" value="0" min=1 max=10 />
  <span class="rightlabel">Very helpful.</span>

  <div class="nav-button">
    <a href="{% url 'pcari:qualitative-questions' %}?lang={{ language_code }}">Next</a>
  </div>
{% endblock %}
