{% load staticfiles %}
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Social media stuff -->
  <meta property="og:title" content="California Report Card"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/cafe/cafe6.png' %}" />
  <meta property="og:url" content="{{ url_root }}/" />
  <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." />
  <!-- <link rel="stylesheet" type= "text/css" href="{% static 'pcari/pretest_style.css' %}"> -->
  <link rel="stylesheet" type= "text/css" href="{% static 'opinionspace.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'crc-transparent-slider.css' %}">
  <!-- <script type='text/javascript' src="{% static 'crc-transparent-slider.js' %}"></script> -->
  <script type='text/javascript' src="{% static 'accounts.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>PCARI</title>
</head>
<body>

<div class="full-page">

  <center>

  <div class="home-btn-dialog-box">
        <div class="home-btn-title responsive-header">
          <a href="{% url 'pcari:landing' %}" style="cursor: pointer;cursor: hand;"><span class="landing-page-banner">Malasakit</span></a> 
        </div>

        <div class="home-btn-wrapper" style="width:35%;display:inline-block; text-align: right;">
          <a href="{% url 'pcari:switch_language' %}" class="translate-btn">{{translate}}</a>
          <a href="{% url 'pcari:help' %}"><img width="30px" class='help-btn-dialog' id="help-landing" src="{% static 'img/cafe/CRC_help_bttn_compress.png' %}"></a>
        </div>

  </div>

  <center>  

  {% if rating %}

  <div class="question-number responsive-body"><span>{{question_of}}</span></div>
  <div class="question-number responsive-body">{{question_description}}</div>
  <div class="statement-style responsive-body english">{{ question }}</div>
  <!-- <div class="statement-style responsive-body spanish" style="display:none;">spanish</div> -->


  <div style="width: 100%;" class="responsive-padding">

  {% if qualitative %}

  <div style="width: 100%;">
    <form action="{% url 'pcari:rate' qid %}" method="POST">
      {% csrf_token %}

      <textarea style="margin-top: 10px;" name='comment' id='entered-comment' maxlength="1000"></textarea>
      </br>
      <input  class='button-div-wide' style="margin-top: 5px;" name="choice" type="submit" value="{{submit}}" />
    </form>
  </div>

  {% else %}
  <div class="question-number responsive-body"><center>{{scale_description}}</center></div>
  
  <div class="crc-div-wrapper">
    <div class="grade-container">
          <div>
            <form action="{% url 'pcari:rate' qid %}" method="POST">
                {% csrf_token %}
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="7" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="8" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="9" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="4" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="5" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="6" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="1" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="2" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="3" />
                <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="0" />
                <input  class="button-div-wide" style="margin-top: 10px;" name="choice" type="submit" value="{{skip}}" />
              </form>
          </div>
    </div>
  </div>

  {% endif %}
  

  </div>

  <div class="statement-style responsive-body english grade-feedback" style="text-align: center;">{{feedback_description}}</div>
  <div class="statement-style responsive-body spanish grade-feedback" style="display:none;"></div>

  <div style="clear: both;"></div>

  {% else %}

  <!-- <div class="question-number responsive-body"><span>Question</span> 1 <span>of</span> 1.</div> -->
  <div class="question-number responsive-body">{{peer_evaluation_description}}</div>
  <div class="statement-style responsive-body english">{{comment}}</div>
  <!-- <div class="statement-style responsive-body spanish" style="display:none;">spanish</div> -->


  <div style="width: 100%;" class="responsive-padding">

  <div class="question-number responsive-body"><center>{{scale_description}}</center></div>
  
  <div class="crc-div-wrapper">
  <div class="grade-container">
        <div>
          <form action="{% url 'pcari:rate_comment' cid %}" method="POST">
              {% csrf_token %}
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="7" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="8" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="9" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="4" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="5" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="6" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="1" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="2" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="3" />
              <input  class="slider-grade-main bubble-A" style="margin-top: 10px;" name="choice" type="submit" value="0" />
              <br>
              <input  class="endsliders-next-btn button-div-wide responsive-btn" style="display: inline-block;position:relative;left:5px; margin-top:20px;" name="choice" type="submit" value="{{skip}}" />
            </form>
        </div>
  </div>
  </div>
  

  </div>

  <div class="statement-style responsive-body english grade-feedback" style="text-align: center;">{{feedback_description}}</div>
  <div class="statement-style responsive-body spanish grade-feedback" style="display:none;"></div>

  <div style="clear: both;"></div>

  {% endif %}

  </center>


  </center>

<!-- </div> -->



</div>
</body>
</html>