{% load i18n %}

<script>
  function outputUpdate(num) {
    document.querySelector('#output').value = num;
  }
</script>

<div class="range-container center">
  <input class="quantitative-input" target-id="{{ id }}" type="range"
         value="{{ min_score|default:'0' }}" step="{{ step|default:'1' }}"
         min="{{ min_score|default:'0' }}" max="{{ max_score|default:'9' }}"
         oninput="outputUpdate(value)">
  <span class="left-label">{ trans left_text }</span>
  <span class="right-label">{ trans right_text }</span>
</div>
<div class="center">
  <output for=value id="output">{{ min_score|default:'0' }}</output>
</div>
